<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <add key="LogFilePath" value="D://JFine_log//SysLog" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!--设置时段过滤 -->
  <add key="IsTimeFilter" value="false" />
  <!--系统初始密码-->
  <add key="InitPassword" value="123456"/>
  <!--数据库类型-->
  <add key="DatabaseType" value="MSSQL"/>
  <!--数据库是否加密-->
  <add key="ConStringEncrypt" value="false" />
  <!--数据库 -->
  <add key="JFineConnection" value="Data Source=139.129.29.4;Initial Catalog=RD_XM1;UID=sa;PWD=sasql2016"/>
  
  <!--验证服务地址 -->
  <add key="CAHost" value="http://localhost:30844"/>
  
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 软件公司 -->
  <add key="SoftCompany" value="JFine快速开发框架" />
  <!-- 客户 -->
  <add key="CustomerCompany" value="青岛河钢新材" />
  <!-- 软件名称 -->
  <add key="SoftName" value="JFine快速开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 联系我们 -->
  <add key="Contact" value="www.jfine.cn" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="xcmail.hbisco.com" />
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="青岛河钢新材电子招标采购平台" />
  <!-- 设置邮箱地址 -->
  <add key="MailUser" value="hgxcmp@hbisco.com" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="888888888" />
  
  <!--邮件模板-->
  <add key="OECTaskOverTime" value="您好，您的协同任务《TASKNAME》还未反馈，请及时登陆系统进行反馈。" />
  <add key="OECTask" value="您好，您有新的协同任务《TASKNAME》需要反馈，请及时登陆系统进行反馈。" />
  <add key="RegisterSuccess" value="恭喜您在青岛河钢新材电子招标采购平台的账号注册成功！账号为：[ACCOUNT];初始登录密码为：123456，请及时登录电子招标采购平台（http://218.57.111.6:8081/Bid/Portal/Login）修改密码！【河钢新材】" />
  <add key="RegisterSuccess_ORG" value="恭喜您在青岛河钢新材电子招标采购平台成功注册了采购组织《PURCHASEORG》！请及时登录电子招标采购平台（http://218.57.111.6:8081/Bid/Portal/Login）查看！【河钢新材】" />
  <add key="RegisterFail" value="很遗憾，您在青岛河钢新材电子招标采购平台的账号[ACCOUNT]注册审核未通过！谢谢您的参与！【河钢新材】" />
  <add key="RegisterFail_ORG" value="很遗憾，由于《REASON》原因，您在青岛河钢新材电子招标采购平台注册采购组织《PURCHASEORG》未通过审核！谢谢您的参与！【河钢新材】" />
  <add key="InviteSup" value="青岛河钢新材料科技有限公司邀请贵公司参加【PROJECTNAME】项目的招投标，请及时登录电子招标采购平台（http://218.57.111.6:8081/Bid/Portal/Login）查看！【河钢新材】" />
  <add key="VailCode" value="您申请找回账号密码的验证码为：CODE,请注意保护您的账号密码！【河钢新材】" />
  
  <!-- ================== 4：Quartz参数 ================== -->
  <!-- 配置线程池 -->
  <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
  <add key="quartz.threadPool.threadCount" value="10"/>
  <add key="quartz.threadPool.threadPriority" value="Normal"/>
  <!-- 配置作业存储 -->
  <add key="quartz.jobStore.misfireThreshold" value="60000"/>
  <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz"/>
  <add key="quartz.jobStore.useProperties" value="true"/>
  <add key="quartz.jobStore.dataSource" value="default"/>
  <add key="quartz.jobStore.tablePrefix" value="QRTZ_"/>
  <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz"/>
  <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz"/>
  <add key="quartz.dataSource.default.provider" value="SqlServer-20"/>

  <!-- ================== 5：供应商默认数据 ================== -->
  <add key="defaultOrgID" value="30a557b1-5a76-4dab-af63-75838ecd2439"/>
  <add key="defaultDeptID" value="975655493261463552"/>
  <add key="defaultRoleID" value="975655032546529280"/>
</appSettings>