@*------------------------------------------------------------------------------
    *     此代码由T4模板自动生成
    *	   生成时间 2018-08-03 17:14:26
    *     ©为之团队
    *------------------------------------------------------------------------------*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    var tree = $("#itemTree");
    $(function () {
        $('#layout').layout();
        treeView();
        gridList();
    });
    function treeView() {
        $("#itemTree").treeview({
            url: "/TN_XM/TN_XMBase/GetTreeJson2",
            onnodeclick: function (item) {
                $("#txt_keyword").val('');
                $('#btn_search').trigger("click");
            }
        });
        $("#itemTree").css({ "overflow": "hidden" });
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/TN_XM/TN_XM/GetGridJson",
            height: $(window).height() - 138,
            colModel: [

					{ label: "主键", name: "Id", width: 150, align: 'left', hidden: true },

					{ label: "BindId", name: "BindId", width: 150, align: 'left', hidden: true },

					{ label: "主项目名称", name: "BaseName", width: 200, align: 'left' },

					{ label: "子项目名称", name: "BaseSubName", width: 200, align: 'left' },

                    {
                        label: "事项编码", name: "Code", width: 200, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            var code = rowObject.RulesCode + "-" + rowObject.Code;
                            return code;
                        }
                    },

                    { label: "事项编码", name: "RulesCode", width: 200, align: 'left', hidden: true },

                   	{ label: "事项名称", name: "Name", width: 150, align: 'left' },

                    { label: "所属公司", name: "CompanyName", width: 150, align: 'left' },

					{ label: "项目状态", name: "ProjectState", width: 150, align: 'left' },

    				{ label: "创建日期", name: "CreateDate", width: 150, align: 'left' },

					{ label: "创建用户", name: "CreateUserName", width: 150, align: 'left' },

					{ label: "开始时间", name: "BeginDate", width: 150, align: 'left' },

					{ label: "结束时间", name: "EndDate", width: 150, align: 'left' },

					{ label: "项目描述", name: "DEC", width: 150, align: 'left' },

					{ label: "项目负责人", name: "Principal", width: 150, align: 'left' },

					{ label: "项目负责人电话", name: "Phone", width: 150, align: 'left' },

					{ label: "施工单位", name: "ConstructionUnit", width: 150, align: 'left' },

					{ label: "施工单位负责人", name: "CPrincipal", width: 150, align: 'left' },

					{ label: "施工单位负责人电话", name: "CPhone", width: 150, align: 'left' },

					{ label: "备注", name: "Remark", width: 150, align: 'left' },

            ],
            pager: "#gridPager",
            sortname: 'CreateDate desc',
            viewrecords: true,
            subGrid: true,//开启子表格支持 
            subGridOptions: {
                //plusicon: "ace-icon fa fa-plus center bigger-110 blue",
                // minusicon: "ace-icon fa fa-minus center bigger-110 blue",
                // openicon: "ace-icon fa fa-chevron-right center orange",
                expandOnLoad: true,
                selectOnExpand: false,
                reloadOnExpand: false
            },
            subGridRowExpanded: function (subgrid_id, row_id) {//子表格容器的id和需要展开子表格的行id
                bindSubGrid(subgrid_id, row_id);
            }
        });
        $("#btn_search").click(function () {
            var Id = $("#itemTree").getCurrentNode();
            if (Id != undefined) {
                var queryJson = {
                    Code: $("#itemTree").getCurrentNode().id,
                    Name: $("#txt_keyword").val()
                }
            } else {
                var queryJson = {
                    Name: $("#txt_keyword").val()
                }
            }

            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
    }
    //子表信息
    function bindSubGrid(subgrid_id, row_id) {
        var subgrid_table_id;
        subgrid_table_id = subgrid_id + "_t";
        $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
        $gridList_measure_sub = $("#" + subgrid_table_id);
        $gridList_measure = $("#gridList");
        var rowData = $gridList_measure.getRowData(row_id);
        var queryJson = {
            Code: rowData.Code
        };
        $gridList_measure_sub.jqGrid({
            url: "/TN_XM/TN_HT_CG/GetGridJson2",
            postData: { queryJson: JSON.stringify(queryJson) },
            height: $(window).height() - 400,
            colModel: [
	                { label: "主键", name: "Id", width: 150, align: 'left', hidden: true },

					{ label: "BindId", name: "BindId", width: 150, align: 'left', hidden: true },

                    { label: "采购组织", name: "CGOrganization", width: 150, align: 'left' },

					{ label: "合同编码", name: "Code", width: 150, align: 'left' },

					{ label: "合同名称", name: "Name", width: 150, align: 'left' },

					{ label: "合同类型", name: "HTType", width: 150, align: 'left' },

					{ label: "设备包", name: "CPpackage", width: 150, align: 'left' },

					{ label: "计划终止日期", name: "EndTime", width: 150, align: 'left' },

					{ label: "供应商", name: "Supplier", width: 150, align: 'left' },

					{ label: "币种", name: "currency", width: 150, align: 'left' },

					{ label: "合同签订日期", name: "SigningDate", width: 150, align: 'left' },

					{ label: "部门", name: "Department", width: 150, align: 'left' },

					{ label: "人员", name: "Personnel", width: 150, align: 'left' },

					{ label: "交货地点", name: "Place", width: 150, align: 'left' },

					{ label: "预付款", name: "AdvancePayment", width: 150, align: 'left' },

					{ label: "预付款限额 ", name: "Limit", width: 150, align: 'left' },

					{ label: "合同状态", name: "HTState", width: 150, align: 'left' },

					{ label: "创建时间", name: "CreateDate", width: 150, align: 'left' },

					{ label: "创建人ID", name: "CreateUserId", width: 150, align: 'left' },

					{ label: "创建人姓名", name: "CreateUserName", width: 150, align: 'left' },

					{ label: "更新时间", name: "UpdateDate", width: 150, align: 'left' },

					{ label: "更新人ID", name: "UpdateUserId", width: 150, align: 'left' },

					{ label: "更新人姓名", name: "UpdateUserName", width: 150, align: 'left' },

            ],
            //data: colModels_Data,
            datatype: "json",
            //rowNum: -1,
            viewrecord: true,
            subGrid: true,//开启子表格支持 
            subGridOptions: {
                expandOnLoad: true,
                selectOnExpand: false,
                reloadOnExpand: false
            },
            subGridRowExpanded: function (subgrid_id, row_id_) {//子表格容器的id和需要展开子表格的行id
                bindSubGrid1(subgrid_id, row_id_);
            }
        });
        var subgrid_table_id2;
        subgrid_table_id2 = subgrid_id + "_t2";
        $("#" + subgrid_id).append("<table id='" + subgrid_table_id2 + "' class='scroll'></table>");
        $gridList_measure_sub2 = $("#" + subgrid_table_id2);
        $gridList_measure2 = $("#gridList");
        var rowData = $gridList_measure.getRowData(row_id);
        var queryJson = {
            Code: rowData.Code
        };
        $gridList_measure_sub2.jqGrid({
            url: "/TN_XM/TN_HT/GetGridJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            height:  $(window).height() - 400,
            colModel: [
                    { label: "主键", name: "Id", width: 150, align: 'left', hidden: true },

                    { label: "BindId", name: "BindId", width: 150, align: 'left', hidden: true },

					{ label: "项目编码", name: "ProjectNo", width: 150, align: 'left', hidden: true },

                    { label: "项目名称", name: "ProjectName", width: 150, align: 'left', hidden: true },

					{ label: "合同编码", name: "Code", width: 150, align: 'left' },

					{ label: "合同名称", name: "Name", width: 150, align: 'left' },

					{ label: "合同金额", name: "Amount", width: 150, align: 'left' },

					{ label: "支付方式", name: "PayType", width: 150, align: 'left' },

                    { label: "已付金额", name: "paidAmount", width: 150, align: 'left' },

                    { label: "未付金额", name: "unpaidAmount", width: 150, align: 'left' },

                    {
                        label: "支付比例", name: "PayProportion", width: 150, align: 'left',
                        formatter: function (cellvalue, options, rowObject)
                        {
                            var paid = parseFloat(rowObject.paidAmount) / parseFloat(rowObject.Amount)*100;
                            var per = paid.toFixed(2);
                            return per+"%";
                        }
                    },

                    { label: "资金来源", name: "FundSource", width: 150, align: 'left' },

            		{ label: "合同文本", name: "DEC", width: 150, align: 'left' },

					{ label: "甲方编码", name: "ACode", width: 150, align: 'left' },

					{ label: "甲方名称", name: "AName", width: 150, align: 'left' },

					{ label: "乙方编码", name: "BCode", width: 150, align: 'left' },

					{ label: "乙方名称", name: "BName", width: 150, align: 'left' },

					{ label: "签订日期", name: "SignDate", width: 150, align: 'left' },

					{ label: "签订地点", name: "SignPlace", width: 150, align: 'left' },

					{ label: "备注", name: "Remark", width: 150, align: 'left' }

            ],
             //data: colModels_Data,
            datatype: "json"
            //rowNum: -1,
            //viewrecord: true,
            //subGrid: true,//开启子表格支持 
            //subGridOptions: {
            //    expandOnLoad: true,
            //    selectOnExpand: false,
            //    reloadOnExpand: false
            //},
            //subGridRowExpanded: function (subgrid_id, row_id_) {//子表格容器的id和需要展开子表格的行id
            //    bindSubGrid1(subgrid_id, row_id_);
            //}
        });
       
        $gridList_measure_sub.setGridWidth($(window).width() - 260);
    }
    //子表信息
    function bindSubGrid1(subgrid_id, row_id) {
        var subgrid_table_id;
        subgrid_table_id = subgrid_id + "_t";
        $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
        $gridList_measure_sub2 = $("#" + subgrid_table_id);
        var $sub2 = $("#"+subgrid_id.slice(0,12));
        var rowData = $sub2.getRowData(row_id);
        var queryJson = {
            CGCode: rowData.Code
        }
        $gridList_measure_sub2.jqGrid(
       {
           url: "/TN_XM/TN_CG_CP/GetGridJson2",
         postData: { queryJson: JSON.stringify(queryJson) },
         height: '300px',
         colModel: [
					{ label: " 主键", name: "Id", width: 150, align: 'left', hidden: true },

					{ label: " BindId", name: "BindId", width: 150, align: 'left', hidden: true },

                    { label: "事项名称", name: "ProjectName", width: 200, align: 'left', hidden: true  },

                    { label: "合同编号", name: "HTNo", width: 90, align: 'left', hidden: true  },

                    { label: "合同名称", name: "HTName", width: 150, align: 'left' , hidden: true },

                    { label: "设备编号", name: "CPCode", width: 150, align: 'left' },

					{ label: "设备分类", name: "Classify", width: 150, align: 'left' },

					{ label: "设备名称", name: "Name", width: 150, align: 'left' },

					{ label: "数量", name: "Quantity", width: 90, align: 'left' },

					{ label: "单位", name: "Unit", width: 60, align: 'left' },

					{ label: "产品规格及型号", name: "Type", width: 150, align: 'left' },

					{ label: "制造厂家名称", name: "MakeName", width: 150, align: 'left' },

					{ label: "出厂单价", name: "Price", width: 100, align: 'left' },

					{ label: "每一品目出厂价", name: "ItemPrice", width: 100, align: 'left' },

					{ label: "每一品目应缴税费", name: "ItemTax", width: 100, align: 'left' },

					{ label: "每一品目含税价格", name: "IncludTax", width: 100, align: 'left' },

					{ label: "货物描述", name: "Remark", width: 150, align: 'left' },

                    { label: "项目现场", name: "Scene", width: 150, align: 'left' },

                    { label: "交货时间", name: "DeliveryTime", width: 150, align: 'left' },

                    { label: "入库时间", name: "StorageTime", width: 150, align: 'left' },

                    { label: "出库时间", name: "OutboundTime", width: 150, align: 'left' }

         ],
         //data: colModels_Data,
         datatype: "json",
         //rowNum: -1,
         viewrecord: true
     });
    }




    function btn_add() {

        var parentId = top.$.jfinetab.getCurrentTabId();
        top.$.jfinetab.addTabContent("/TN_XM/TN_XM/Form", "项目信息--新增", parentId + "_add", parentId);

    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().Id;
        if ($.checkedArray(keyValue)) {

            var parentId = top.$.jfinetab.getCurrentTabId();
            top.$.jfinetab.addTabContent("/TN_XM/TN_XM/Form?keyValue=" + keyValue, "项目信息--修改", parentId + "_edit", parentId);

        }

    }
    function btn_delete() {
        var keyValue = $("#gridList").jqGridRowValue().Id;
        if ($.checkedArray(keyValue)) {
            $.deleteForm({
                url: "/TN_XM/TN_XM/DeleteForm",
                param: { keyValue: keyValue },
                success: function () {
                    //$.currentWindow().$("#gridList").trigger("reloadGrid");
                    location.reload();
                }
            });
        }

    }
    function btn_details() {
        /*     var keyValue = $("#gridList").jqGridRowValue().Id;
        if ($.checkedArray(keyValue)) {
            $.modalOpen({
                id: "Details",
                title: "查看项目信息",
                url: "/TN_XM/TN_XM/Details?keyValue=" + keyValue,
                width: "550px",
                height: "620px",
                btn: null,
            });
        }  */
        var keyValue = $("#gridList").jqGridRowValue().Id;
        if ($.checkedArray(keyValue)) {
            var parentId = top.$.jfinetab.getCurrentTabId();
            top.$.jfinetab.addTabContent("/TN_XM/TN_XM/Details?keyValue=" + keyValue, "基本项目--查看", parentId + "_details", parentId);
        }
    }

    function btn_Items() {
        $.modalOpen({
            id: "Items",
            title: "项目层级",
            url: "/TN_XM/TN_XMBase/Index?tree=" + tree,
            width: "850px",
            height: "650px",
            btn: null,
        });
    }

    function btn_addfj() {
        var keyValue = $("#gridList").jqGridRowValue().Id;
        if ($.checkedArray(keyValue)) {
            var parentId = top.$.jfinetab.getCurrentTabId();
            top.$.jfinetab.addTabContent("/TN_XM/TN_XM/DetailsFJ?keyValue=" + keyValue, "上传附件", parentId + "_details", parentId);
        }

    }

    //导入
    function uploadExcel() {
        $.modalOpen({
            id: "UpLoadExcelData",
            title: "上传协同任务附件",
            url: "/SysCommon/Common/UpLoadExcelData",
            width: "300px",
            height: "280px",
            btn: null
        });

    }

    //导出报价数据
    function export_bj() {
        colNames = $("#gridList").jqGrid('getGridParam', 'colNames')
        colModel = $("#gridList").jqGrid('getGridParam', 'colModel')
        var data = {};
        for (i = 0; i < colNames.length; i++) {
            var columnHidden = colModel[i].hidden;
            var columnName = colModel[i].name;
            if (columnHidden == false && columnName != "rn") {
                data[columnName] = colNames[i];
            }

        }
        filename = '事项信息';
        var txt_keyword = $("#txt_keyword").val();
        head = JSON.stringify(data);
        window.open("/SysCommon/Common/downloadQuoteData_sup?head=" + head + "&filename=" + filename + "&txt_keyword=" + txt_keyword);
    }
    function refreshGrid() {
        //$("#gridList").trigger("reloadGrid");
        location.reload();
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div id="toolbar" class="btn-group">
                </div>
                <script>$('#toolbar').authorizeButton()</script>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="名称/编号" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>