
 @*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2018-10-23 15:15:33
 *     ©为之团队
 *------------------------------------------------------------------------------*@

 @{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form2.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
	initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/TN_XM/TN_FK_MX/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

	 //初始化组件
    function initControl()
    {
        //初始化工作
        
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        $.submitForm({
            url: "/TN_XM/TN_FK_MX/SaveForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                var parentTabId = top.$.jfinetab.getCurrentTabParentId();
                var resultPage = top.$.jfinetab.getTabContentFromId(parentTabId);
                resultPage.refreshGrid();
                top.$.jfinetab.closeCurrentTab();
            }
        })
    }
	//关闭Form
    function closeForm() {
        top.$.jfinetab.closeCurrentTab();
    }
</script>

<form id="form1">
    <div id="jfine-form-container" class="jfine-form-container" border="0">
        <table id="jfine-form-maintable" class="jfineui jfine-form-maintable" style="table-layout: fixed;"
               border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr id="jfine-form-titlebg" class="jfine-form-titlebg">
                    <td>
                        <table align="center" border="0" style="margin: 0px auto; width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="jfine-form-header_l">
                                        <span class="jfine-form-logo">
                                            <img src="/Content/images/formlogo.png" />
                                        </span>
                                    </td>
                                    <td class="jfine-form-header_c">
                                        <span class="jfine-form-header-title">付款日志</span>
                                    </td>
                                    <td class="jfine-form-header_r">
                                        <div>
                                            <div class="btn-group">
                                                <a class="btn btn-info dropdown-text" onclick="submitForm()"><i class="fa fa-send"></i>提交</a>
                                                <a class="btn btn-warning dropdown-text" onclick="closeForm()"><i class="fa fa-minus"></i>关闭</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr id="jfine-form-formcontent" class="jfine-form-titlebg" style="">
                    <td>
                        <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                            <table class="form" style="margin-bottom: 10px;">
								  	
								<tr hidden>
									<th class="formTitle"> 主键</th>
									<td class="formValue">
										<input id="Id" name="Id" type="text"
										 class="form-control  required"  placeholder="请输入主键" />
									</td>
								</tr>
					 	  	
								<tr hidden>
									<th class="formTitle"> BindId</th>
									<td class="formValue">
										<input id="BindId" name="BindId" type="text"
										 class="form-control  required"  placeholder="请输入BindId" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 合同编码</th>
									<td class="formValue">
										<input id="HTCode" name="HTCode" type="text" readonly
										 class="form-control  required"  placeholder="请输入合同编码" />
									</td>
									<th class="formTitle"> 合同名称</th>
									<td class="formValue">
										<input id="HTName" name="HTName" type="text" readonly
										 class="form-control  required"  placeholder="请输入合同名称" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 付款公司</th>
									<td class="formValue">
										<input id="PaymentCompany" name="PaymentCompany" type="text"
										 class="form-control  required"  placeholder="请输入付款公司" />
									</td>
									<th class="formTitle"> 付款金额</th>
									<td class="formValue">
										<input id="PaymentAmount" name="PaymentAmount" type="text"
										 class="form-control isNumber required"  placeholder="请输入付款金额" />
									</td>
								</tr>
					 	  	
								<tr hidden>
									<th class="formTitle"> 最后修改日期</th>
									<td class="formValue">
										<input id="UpdateDate" name="UpdateDate" type="text"
										 class="form-control Wdate required" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="请输入最后修改日期" />
									</td>
								</tr>
					 	  	
								<tr hidden>
									<th class="formTitle"> 最后修改人编号</th>
									<td class="formValue">
										<input id="UpdateUserId" name="UpdateUserId" type="text"
										 class="form-control  required"  placeholder="请输入最后修改人编号" />
									</td>
								</tr>
					 	  	
								<tr hidden>
									<th class="formTitle"> 最后修改人名称</th>
									<td class="formValue">
										<input id="UpdateUserName" name="UpdateUserName" type="text"
										 class="form-control  required"  placeholder="请输入最后修改人名称" />
									</td>
								</tr>
					 	  	
								<tr hidden>
									<th class="formTitle"> 创建日期</th>
									<td class="formValue">
										<input id="CreateDate" name="CreateDate" type="text"
										 class="form-control Wdate required" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="请输入创建日期" />
									</td>
								</tr>
					 	  	
								<tr hidden>
									<th class="formTitle"> 创建人编码</th>
									<td class="formValue">
										<input id="CreateUserId" name="CreateUserId" type="text"
										 class="form-control  required"  placeholder="请输入创建人编码" />
									</td>
								</tr>
					 	  	
								<tr hidden>
									<th class="formTitle"> 创建人名称</th>
									<td class="formValue">
										<input id="CreateUserName" name="CreateUserName" type="text"
										 class="form-control  required"  placeholder="请输入创建人名称" />
									</td>
								</tr>
					 	  	
								<tr hidden>
									<th class="formTitle"> 付款公司编码或设备包</th>
									<td class="formValue">
										<input id="PaymentCompanyId" name="PaymentCompanyId" type="text"
										 class="form-control  required"  placeholder="请输入付款公司编码或设备包" />
									</td>
								</tr>
					 	  	
								<tr>
									<th class="formTitle"> 付款日期</th>
									<td class="formValue">
										<input id="PaidDate" name="PaidDate" type="text"
										 class="form-control Wdate required" onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="请输入付款日期" />
									</td>
									<th class="formTitle"> 凭证号</th>
									<td class="formValue">
										<input id="CredentialsNumber" name="CredentialsNumber" type="text"
										 class="form-control  required"  placeholder="请输入凭证号" />
									</td>
								</tr>
                                <tr hidden>
                                    <th class="formTitle"> 付款类型</th>
                                    <td class="formValue">
                                        <input id="PayType" name="PayType" type="text"
                                               class="form-control  required" placeholder="请输入付款类型" />
                                    </td>
                                </tr>

								<tr hidden>
									<th class="formTitle"> 合同类型</th>
									<td class="formValue">
										<input id="HTType" name="HTType" type="text"
										 class="form-control  required"  placeholder="请输入合同类型" />
									</td>
								</tr>
					   
							</table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

